# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc
.pytest_cache/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Coverage
.coverage
htmlcov/

# Alembic

# Logs
*.log
